.card-container {
  background-color: #191780;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card {
  max-width: 1000px;
  margin: 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 0px;
  box-shadow: 1px 1px 3px whitesmoke;
  img {
    width: 100%;
    border-radius: 8px;
  } 
}
