.card-container {
  max-width: 1000px;
  margin: 0 auto;
}


.card {
  transition: width linear 0.3s;
  width: 300px;
  max-width: 1000px;
  img {
    width: 100%;
  }
}

.card-expanded {
  width: 100vw;
}