.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: black;
  transition: all 0.3s linear;
  img {
    width: 0;
    margin-top: 50px;
  }
}

.modal-open {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  img {
    width: 100%;
  }
}