.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: black;
  transition: all 0.3s ease-in;
  img {
    width: 0;
  }
  @media (min-width: 1000px) {
    position: absolute;
  }
}

.modal-open {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  img {
    width: 100%;
  }
}